body {
    font-family: sans-serif;
    font-size: 0.75rem;
}

.logo {
    width: 6rem;
    height: 6rem;
    object-fit: fill;
}

.title-minedu {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.table {
    border-collapse: collapse;
}

.table tr th,
.table tr td {
    padding: .25rem .125rem;
    border: 1px solid black;
}

.box-1 {
    height: 1rem;
    width: 1.75rem;
}

.p-1 {
    padding: .25rem;
}

.bg-gray {
    background-color: #d3d3d3;
    font-weight: 600;
}